# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/


# Environments
.env
.venv/
env/
venv/
ENV/


# PyCharm
.idea/
*.iml


# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage
