<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'common:home' %}">Fictional Universe Builder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == 'universes' %}active{% endif %}" href="{% url 'universes:list' %}">Universes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == 'locations' %}active{% endif %}" href="{% url 'locations:list' %}">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.namespace == 'characters' %}active{% endif %}" href="{% url 'characters:list' %}">Characters</a>
                </li>
            </ul>
        </div>
    </div>
</nav>